.hidden {
  display: none;
}
button {
  border-style: none;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 95%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body #weather {
  position: fixed;
  right: 10px;
  top: 5px;
}

body .mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body #quotes {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}

body #quotes span {
  margin: 0 20px;
}

body .mainContent input {
  border: 0;
  background: white;
  border-bottom: solid 3px white;

  opacity: 50%;
}
body .mainContent input::placeholder {
  color: black;
}

body .mainContent #todoElement {
  width: 100%;
}
