@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Hurricane&display=swap");
@import "drawing.css";
:root {
  --main-color: #478ea5;
  --shadow-color: lightblue;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 10;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.hidden {
  display: none;
  border: none;
  visibility: hidden;
}
button {
  vertical-align: middle;
  padding: 5px 20px;
  border: solid 3px var(--main-color);
  color: var(--main-color);
  border-radius: 15%;
  background: transparent;
  margin: 0;
  margin-left: 5px;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 95%;
}

input,
textarea {
  background: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}
ul {
  padding-left: 20px;
}
form {
  border: none;
}
html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

#board {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 95%;
}
.content {
  position: absolute;
  height: 80%;
  width: 90%;
  background-color: white;
  box-shadow: 10px 10px 10px var(--shadow-color);
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* left */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
}

.left .leftTop {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.left .clock {
  height: 320px;
  width: 320px;
  background-color: var(--main-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.left img {
  opacity: 0.6;
}
.left .hand {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.left .hour {
  height: 60px;
  width: 10px;
  top: 100px;
}
.left .minute {
  height: 80px;
  width: 5px;
  top: 80px;
}
.left .seconds {
  height: 90px;
  width: 3px;
  top: 70px;
}
.left #quotes {
  font-family: "Hurricane", cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: larger;
}
.left #quotes span:last-child {
  margin-top: 10px;
  text-align: center;
}

/* main */
.mainContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.mainContent h2 {
  width: fit-content;
  padding: 10px;
  box-shadow: 5px 5px 10px var(--shadow-color);
  background-color: var(--main-color);
  border-radius: 10%;
}
.mainContent .photo {
  width: 40vw;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.mainContent .photo img {
  width: 100%;
  height: 90%;
  border-radius: 10%;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}
.mainContent .photo .photoBtn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.mainContent #toDo {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  overflow: hidden;
  bottom: 10px;
  border: thick double var(--main-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  margin-top: 20px;
}
.mainContent #toDo h1 {
  text-align: center;
  background-color: var(--main-color);
  margin-top: 0;
}
.mainContent #toDo .todoContent {
  display: flex;
  width: 100%;
  height: 100%;
}
.mainContent .form {
  flex: 1;
  width: 50%;
  margin-left: 10px;
}

.mainContent .form #todoForm {
  display: flex;
  box-shadow: none;
  padding: 0;
}

.mainContent #todoForm input {
  color: black;
  border: none;
  border-bottom: 5px solid var(--main-color);
  width: 60%;
}

.mainContent #todoForm input:focus {
  outline: none;
}

.mainContent #todoForm button {
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
}
.mainContent #todoForm button:hover {
  filter: none;
}
.mainContent .memo {
  flex: 2;
  width: 100%;
  margin-right: 10px;
  margin-left: 30px;
}
.mainContent .memo li {
  font-weight: bold;
  list-style: circle;
}
.mainContent .memo li:hover {
  cursor: pointer;
}
.mainContent .memo .clicked {
  text-decoration: line-through;
  text-decoration-color: red;
}
.mainContent .memo button {
  border: none;
  width: 10px;
  padding: 0;
}
.mainContent #login_form {
  width: 100%;
  margin: 10px auto;
  position: relative;
}
.mainContent #login_form img {
  width: 100%;
  vertical-align: middle;
}
.mainContent .userInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.mainContent .userInfo input {
  border-radius: 9999em;
  color: white;
  border-bottom: 3px solid white;
}
.mainContent .userInfo input:focus {
  outline: none;
}
.mainContent .userInfo input::placeholder {
  color: white;
}
.mainContent .userInfo button {
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
  color: white;
  border-color: white;
  border-radius: 50%;
}
.mainContent .userInfo button:hover {
  cursor: pointer;
  background: #055e67;
}
.right {
  flex: 1;
  margin-top: 10px;
  text-align: center;
}

.right canvas {
  width: 80%;
  height: 400px;
  margin-left: 10px;
  border: thick double var(--main-color);
  filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}

@media (min-width: 320px) and (max-width: 480px) {
  #quotes,
  .right,
  .photo {
    all: unset;
    display: none;
    visibility: hidden;
  }
  .content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainContent {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .mainContent h2 {
    position: absolute;
    left: 0;
    margin: 0;
    margin-left: 5px;
  }
  .mainContent #toDo {
    width: 90%;
    height: 60%;
    margin-bottom: 30px;
    border: thick solid var(--main-color);
    box-shadow: none;
  }
  .mainContent #toDo .todoContent {
    flex-direction: column;
  }
  .mainContent .form {
    flex: 0.1;
  }
}
