@import "reset.css";

:root {
  --main-color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}
button {
  border: solid 3px var(--main-color);
  color: var(--main-color);
  border-radius: 15%;
  background: transparent;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 95%;
}

input,
textarea {
  background: 0;
  color: var(--main-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}

body #weather {
  position: fixed;
  right: 10px;
  top: 5px;
}

body .mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

body .mainContent #clock {
  margin: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10vw;
}
body .mainContent #login {
  margin: 0px auto;
  text-align: center;
}
body .mainContent #hello_User {
  font-size: 4vw;
  animation: fadein 3s;
  margin-bottom: 10px;
}

body #quotes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 10px;
}

body #quotes span {
  margin: 0 20px;
}

body .mainContent input {
  border: 0;
  width: auto;
  height: auto;
  border-bottom: solid 3px var(--main-color);
}
body .mainContent input::placeholder {
  color: var(--main-color);
}

body .mainContent #todayTodo {
  width: 100%;
}
